 - fqdn: "{{ j2_vals['fqdn'] }}"
   port_name: "port-{{ j2_vals['fqdn'] }}"
   ip_priv: "{{ j2_vals['ip_priv'] }}"
   ip_pub: "{{ j2_vals['ip_pub'] }}"
   boot_volume:
    name: "boot-vlm-{{ j2_vals['fqdn'] }}"
    size: "{{ j2_vals['boot_vlm_size'] }}"
    image: "{{ j2_vals['boot_vlm_image'] }}"
{% if j2_vals['data_vlm'] %}
   data_volume:
    name: "data-vlm-{{ j2_vals['fqdn'] }}"
    size: "{{ j2_vals['data_vlm_size'] }}"
{% endif %}
   flavor: "{{ j2_vals['flavor'] }}"
   key_name: "idpcloud"
   security_groups:
{% for sg in j2_vals['sec_groups'] %}
    - "{{ j2_vals['sec_groups'][sg] }}"
{% endfor %}
   state: "present"
